{% extends 'base.html' %}
{% block page_content %}
{% if user.is_superuser %}
    <h5></h5><a href="{% url 'create driver' %}" class="btn btn-primary">Add new driver</a>
    {% endif %}
<div class="row">
<h3 class="card-box">Our professional drivers</h3>
<div class="col-sm-3">
    {% for driver in drivers %}
        <div class="card">
<div class="card-body">
        <div class="card-box">
<p class="card-title">Name: {{ driver.first_name }} {{ driver.last_name }}</p>
        <div class="text-center">
    <img src="{{ driver.picture.url }}" class="card-img-top">
<p class="text">License category: {{ driver.license_category }}</p>
<p class="text">Driving experience: {{ driver.years_experience }} years</p>
        </div>
        </div>
        </div>
{% if user.is_superuser %}
    <h5></h5><a href="{% url 'edit driver' driver.pk %}" class="btn btn-primary">Edit driver</a>
    <h5></h5><a href="{% url 'delete driver' driver.pk %}" class="btn btn-primary">Delete driver</a>
    {% endif %}
    {% endfor %}

{% endblock %}